@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Importing Varela Round font */

/* General body styling */
body {
    background-color: black;
    /* Setting the background to black */
    color: #1DB954;
    /* Spotify's green color for the font */
    font-family: 'Varela Round', sans-serif;
    /* Applying Varela Round font */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
}

textarea::placeholder {
    font-family: 'Varela Round', sans-serif;
    color: #888;
    /* Placeholder color */
}

button {
    background-color: #1DB954;
    /* Spotify's green color for the button */
    color: black;
    /* Black text color for the button */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    border-radius: 20px;
    /* Rounded edges for the button */
}

button:hover {
    opacity: 0.8;
    /* Slightly darken the button on hover */
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    color: red;
    /* Display flash messages in red */
}

/* Styling for the loading screen */
.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    /* Slightly transparent black background */
    z-index: 9999;
    text-align: center;
    padding-top: 200px;
    color: #1DB954;
    /* Spotify's green color for the text */
    font-family: 'Varela Round', sans-serif;
    /* Applying Varela Round font */
}

/* Add margin to create a gap between the button and the embedded playlist */
#playlistEmbed {
    margin-top: 20px;
}
